 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("images/pexels-eberhard-grossgasteiger-1624438.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 1935px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 32px auto 0;
}

.u-section-1 .u-products-1 {
  grid-template-columns: auto auto auto auto auto auto;
  margin-top: 27px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 8.66667px) calc(33.3333% - 8.66667px) calc(33.3333% - 8.66667px);
  min-height: 548px;
  grid-auto-columns: calc(33.3333% - 8.66667px);
  grid-gap: 13px 13px;
  width: 1140px;
  margin-right: 0;
  margin-left: 0;
  margin-top: 0;
}

.u-section-1 .u-repeater-item-1 {
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0 15px;
}

.u-section-1 .u-image-1 {
  width: 304px;
  height: 160px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 74px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 1.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 40px 30px 0;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 30px 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 19px auto 0;
}

.u-section-1 .u-repeater-item-2 {
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0 15px;
}

.u-section-1 .u-image-2 {
  width: 304px;
  height: 160px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 74px auto 0;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  font-size: 1.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 40px 30px 0;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 30px 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 19px auto 0;
}

.u-section-1 .u-repeater-item-3 {
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 0 15px;
}

.u-section-1 .u-image-3 {
  width: 304px;
  height: 160px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 74px auto 0;
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  font-size: 1.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 40px 30px 0;
}

.u-section-1 .u-text-7 {
  font-weight: 400;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 30px 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 19px auto 0;
}

.u-section-1 .u-repeater-item-4 {
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 0 15px;
}

.u-section-1 .u-image-4 {
  width: 304px;
  height: 160px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 74px auto 0;
}

.u-section-1 .u-text-8 {
  font-weight: 400;
  font-size: 1.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 40px 30px 0;
}

.u-section-1 .u-text-9 {
  font-weight: 400;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 30px 0;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 19px auto 0;
}

.u-section-1 .u-repeater-item-5 {
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 0 15px;
}

.u-section-1 .u-image-5 {
  width: 304px;
  height: 160px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 74px auto 0;
}

.u-section-1 .u-text-10 {
  font-weight: 400;
  font-size: 1.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 40px 30px 0;
}

.u-section-1 .u-text-11 {
  font-weight: 400;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 30px 0;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 19px auto 0;
}

.u-section-1 .u-repeater-item-6 {
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 0 15px;
}

.u-section-1 .u-image-6 {
  width: 304px;
  height: 160px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 74px auto 0;
}

.u-section-1 .u-text-12 {
  font-weight: 400;
  font-size: 1.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 40px 30px 0;
}

.u-section-1 .u-text-13 {
  font-weight: 400;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 30px 0;
}

.u-section-1 .u-btn-6 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 19px auto 0;
}

.u-section-1 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-products-2 {
  grid-template-columns: auto auto auto auto auto auto;
  margin-top: 40px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-2 {
  grid-template-columns: calc(33.3333% - 8.66667px) calc(33.3333% - 8.66667px) calc(33.3333% - 8.66667px);
  min-height: 548px;
  grid-auto-columns: calc(33.3333% - 8.66667px);
  grid-gap: 13px 13px;
  width: 1140px;
  margin-right: 0;
  margin-left: 0;
  margin-top: 0;
}

.u-section-1 .u-repeater-item-7 {
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
  background-image: none;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 0 15px;
}

.u-section-1 .u-image-7 {
  width: 329px;
  height: 114px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: -100px;
  margin: 65px auto 0;
}

.u-section-1 .u-text-14 {
  font-weight: 400;
  font-size: 1.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 49px 30px 0;
}

.u-section-1 .u-text-15 {
  font-weight: 400;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 27px 30px 0;
}

.u-section-1 .u-btn-7 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 18px auto 0;
}

.u-section-1 .u-repeater-item-8 {
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
  background-image: none;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px 0 15px;
}

.u-section-1 .u-image-8 {
  width: 329px;
  height: 114px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: -100px;
  margin: 65px auto 0;
}

.u-section-1 .u-text-16 {
  font-weight: 400;
  font-size: 1.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 49px 30px 0;
}

.u-section-1 .u-text-17 {
  font-weight: 400;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 27px 30px 0;
}

.u-section-1 .u-btn-8 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 18px auto 0;
}

.u-section-1 .u-repeater-item-9 {
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
  background-image: none;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px 0 15px;
}

.u-section-1 .u-image-9 {
  width: 329px;
  height: 114px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: -100px;
  margin: 65px auto 0;
}

.u-section-1 .u-text-18 {
  font-weight: 400;
  font-size: 1.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 49px 30px 0;
}

.u-section-1 .u-text-19 {
  font-weight: 400;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 27px 30px 0;
}

.u-section-1 .u-btn-9 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 18px auto 0;
}

.u-section-1 .u-repeater-item-10 {
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
  background-image: none;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px 0 15px;
}

.u-section-1 .u-image-10 {
  width: 329px;
  height: 114px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: -100px;
  margin: 65px auto 0;
}

.u-section-1 .u-text-20 {
  font-weight: 400;
  font-size: 1.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 49px 30px 0;
}

.u-section-1 .u-text-21 {
  font-weight: 400;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 27px 30px 0;
}

.u-section-1 .u-btn-10 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 18px auto 0;
}

.u-section-1 .u-repeater-item-11 {
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
  background-image: none;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px 0 15px;
}

.u-section-1 .u-image-11 {
  width: 329px;
  height: 114px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: -100px;
  margin: 65px auto 0;
}

.u-section-1 .u-text-22 {
  font-weight: 400;
  font-size: 1.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 49px 30px 0;
}

.u-section-1 .u-text-23 {
  font-weight: 400;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 27px 30px 0;
}

.u-section-1 .u-btn-11 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 18px auto 0;
}

.u-section-1 .u-repeater-item-12 {
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
  background-image: none;
}

.u-section-1 .u-container-layout-12 {
  padding: 30px 0 15px;
}

.u-section-1 .u-image-12 {
  width: 329px;
  height: 114px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: -100px;
  margin: 65px auto 0;
}

.u-section-1 .u-text-24 {
  font-weight: 400;
  font-size: 1.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 49px 30px 0;
}

.u-section-1 .u-text-25 {
  font-weight: 400;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 27px 30px 0;
}

.u-section-1 .u-btn-12 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 18px auto 0;
}

.u-section-1 .u-gallery-nav-3 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-gallery-nav-4 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-products-3 {
  grid-template-columns: auto auto auto auto auto auto;
  margin-top: 40px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-3 {
  grid-template-columns: calc(33.3333% - 8.66667px) calc(33.3333% - 8.66667px) calc(33.3333% - 8.66667px);
  min-height: 548px;
  grid-auto-columns: calc(33.3333% - 8.66667px);
  grid-gap: 13px 13px;
  width: 1140px;
  margin-right: 0;
  margin-left: 0;
  margin-top: 0;
}

.u-section-1 .u-repeater-item-13 {
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
  background-image: none;
}

.u-section-1 .u-container-layout-13 {
  padding: 30px 0 15px;
}

.u-section-1 .u-image-13 {
  width: 329px;
  height: 246px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: -100px;
  margin: 0 auto;
}

.u-section-1 .u-text-26 {
  font-weight: 400;
  font-size: 1.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 19px 30px 0;
}

.u-section-1 .u-text-27 {
  font-weight: 400;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: -100px;
  margin: 22px 30px 0;
}

.u-section-1 .u-btn-13 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 16px auto 0;
}

.u-section-1 .u-repeater-item-14 {
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
  background-image: none;
}

.u-section-1 .u-container-layout-14 {
  padding: 30px 0 15px;
}

.u-section-1 .u-image-14 {
  width: 329px;
  height: 246px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: -100px;
  margin: 0 auto;
}

.u-section-1 .u-text-28 {
  font-weight: 400;
  font-size: 1.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 19px 30px 0;
}

.u-section-1 .u-text-29 {
  font-weight: 400;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: -100px;
  margin: 22px 30px 0;
}

.u-section-1 .u-btn-14 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 16px auto 0;
}

.u-section-1 .u-repeater-item-15 {
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
  background-image: none;
}

.u-section-1 .u-container-layout-15 {
  padding: 30px 0 15px;
}

.u-section-1 .u-image-15 {
  width: 329px;
  height: 246px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: -100px;
  margin: 0 auto;
}

.u-section-1 .u-text-30 {
  font-weight: 400;
  font-size: 1.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 19px 30px 0;
}

.u-section-1 .u-text-31 {
  font-weight: 400;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: -100px;
  margin: 22px 30px 0;
}

.u-section-1 .u-btn-15 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 16px auto 0;
}

.u-section-1 .u-repeater-item-16 {
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
  background-image: none;
}

.u-section-1 .u-container-layout-16 {
  padding: 30px 0 15px;
}

.u-section-1 .u-image-16 {
  width: 329px;
  height: 246px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: -100px;
  margin: 0 auto;
}

.u-section-1 .u-text-32 {
  font-weight: 400;
  font-size: 1.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 19px 30px 0;
}

.u-section-1 .u-text-33 {
  font-weight: 400;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: -100px;
  margin: 22px 30px 0;
}

.u-section-1 .u-btn-16 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 16px auto 0;
}

.u-section-1 .u-repeater-item-17 {
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
  background-image: none;
}

.u-section-1 .u-container-layout-17 {
  padding: 30px 0 15px;
}

.u-section-1 .u-image-17 {
  width: 329px;
  height: 246px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: -100px;
  margin: 0 auto;
}

.u-section-1 .u-text-34 {
  font-weight: 400;
  font-size: 1.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 19px 30px 0;
}

.u-section-1 .u-text-35 {
  font-weight: 400;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: -100px;
  margin: 22px 30px 0;
}

.u-section-1 .u-btn-17 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 16px auto 0;
}

.u-section-1 .u-repeater-item-18 {
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
  background-image: none;
}

.u-section-1 .u-container-layout-18 {
  padding: 30px 0 15px;
}

.u-section-1 .u-image-18 {
  width: 329px;
  height: 246px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: -100px;
  margin: 0 auto;
}

.u-section-1 .u-text-36 {
  font-weight: 400;
  font-size: 1.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 19px 30px 0;
}

.u-section-1 .u-text-37 {
  font-weight: 400;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: -100px;
  margin: 22px 30px 0;
}

.u-section-1 .u-btn-18 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 16px auto 0;
}

.u-section-1 .u-gallery-nav-5 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-gallery-nav-6 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1872px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 8.66667px));
    grid-auto-columns: calc(33.333333333333336% - 8.66667px);
  }

  .u-section-1 .u-text-3 {
    margin-top: -98px;
    width: 312px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 218px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -219px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -219px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -269px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -269px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -269px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 8.66667px));
    grid-auto-columns: calc(33.333333333333336% - 8.66667px);
  }

  .u-section-1 .u-repeater-3 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 8.66667px));
    grid-auto-columns: calc(33.333333333333336% - 8.66667px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 6.5000025px));
    grid-auto-columns: calc(50% - 6.5000025px);
  }

  .u-section-1 .u-text-2 {
    margin-top: 434px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: repeat(2, calc(50% - 6.5000025px));
    grid-auto-columns: calc(50% - 6.5000025px);
  }

  .u-section-1 .u-repeater-3 {
    grid-template-columns: repeat(2, calc(50% - 6.5000025px));
    grid-auto-columns: calc(50% - 6.5000025px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -194px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -194px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -219px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -219px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -219px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-1 .u-repeater-3 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-text-2 {
    margin-top: 295px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -219px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -219px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -244px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -244px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -244px;
  }

  .u-section-1 .u-repeater-2 {
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-repeater-3 {
    grid-auto-columns: 100%;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.85), rgba(0,0,0,0.85)), url("images/756788587750999.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 322px;
}

.u-section-2 .u-list-1 {
  margin-top: 46px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(50% - 12px) calc(50% - 12px);
  min-height: 199px;
  grid-gap: 24px 24px;
}

.u-section-2 .u-list-item-1 {
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.1);
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px 0 25px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 16px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 7px 0 0;
}

.u-section-2 .u-list-item-2 {
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px 0 25px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 3rem;
  margin: 16px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 7px 0 0;
}

.u-section-2 .u-text-5 {
  font-size: 0.75rem;
  width: 446px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 38px auto 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 266px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 163px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 204px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 153px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 96px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-5 {
    width: 340px;
  }
}